body {
    background-color: white;
    padding: 0;
    margin: 25px;
    margin-top: 50px;
}

p {
    color: #222222;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 35px;
    text-align: justify;
}

h1 {
    text-align: center;
    color: #ff0066;
    font-size: 50px;
}

#more {
    display: none;
}

button {
    background-color: #ff0066;
    border: none;
    outline: none;
    color: white;
    font-size: 30px;
    padding: 5px;
}